* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/fondo.jpg);
}

#carrito {
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
}

#icono-carrito {
    margin-top: 12px;
}

#contador-carrito {
    border-width: 0px;
    color: aliceblue;
}

i {
    color: aliceblue;
}


@media (max-width: 991px) {
    #carrito {
        margin-left: 0px;
    }
}